<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.shuomi"
      android:versionCode="2"
      android:versionName="1.01">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
    
    <application 
        android:icon="@drawable/logo_shuomi"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        
        <uses-library android:name="com.google.android.maps" />
        
        <service android:enabled="true"
                 android:name=".network.NetworkService"
                 android:exported="false">
        </service>
        
        <activity 
        	android:name=".ServiceListView"
            android:label="@string/app_name"
            android:launchMode="singleInstance"  
        	android:stateNotNeeded="true"  
        	android:screenOrientation="portrait">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_GROUPON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_GROUPON_SHARE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_GROUPON_FAVORITE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_WEATHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_EXPRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.android.shuomi.HTTP_RESPONSE_AROUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
    
</manifest>